/* line 2, ../scss/_main.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 23, ../scss/_main.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 27, ../scss/_main.scss */
body {
  line-height: 1; }

/* line 30, ../scss/_main.scss */
ol, ul {
  list-style: none; }

/* line 33, ../scss/_main.scss */
blockquote, q {
  quotes: none; }

/* line 36, ../scss/_main.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 41, ../scss/_main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 49, ../scss/_main.scss */
body {
  font-family: "Fresca", sans-serif;
  background: #21232E;
  color: #fff; }

/* line 59, ../scss/_main.scss */
.header {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  background: url("../img/m-h-night.jpg") center left no-repeat;
  background-size: 100%;
  border-radius: 0% 0% 35% 55%/100% 50% 40% 0%;
  overflow: hidden;
  position: relative; }
  /* line 69, ../scss/_main.scss */
  .header .landing-logo {
    max-width: 147px;
    overflow: hidden;
    text-align: center;
    padding-top: 30px; }
    /* line 74, ../scss/_main.scss */
    .header .landing-logo img {
      margin-right: 9px;
      float: left; }
    /* line 78, ../scss/_main.scss */
    .header .landing-logo p {
      line-height: 25px;
      font-weight: bold;
      font-size: 28px; }
    /* line 82, ../scss/_main.scss */
    .header .landing-logo span {
      line-height: 25px;
      font-weight: bold;
      font-size: 11px;
      display: block; }
  /* line 89, ../scss/_main.scss */
  .header .header_heading {
    position: relative;
    margin: 60px 0 -50px 0;
    width: 600px;
    height: 202px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    z-index: 1; }
    /* line 99, ../scss/_main.scss */
    .header .header_heading::after {
      position: absolute;
      bottom: 70px;
      left: 0;
      z-index: -1;
      width: 295px;
      height: 40px;
      content: '';
      background: #FF4E33; }
  /* line 111, ../scss/_main.scss */
  .header .header_text {
    width: 900px;
    line-height: 30px;
    white-space: pre-line; }
  /* line 118, ../scss/_main.scss */
  .header .header-wrap {
    width: 1525px;
    margin: 0 auto; }

/* line 124, ../scss/_main.scss */
.header_button, .section_banner .section_banner_button {
  margin: 60px auto;
  padding: 10px;
  width: 140px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  background: #E3AC00;
  outline: none; }
  /* line 137, ../scss/_main.scss */
  .header_button:hover, .section_banner .section_banner_button:hover {
    cursor: pointer;
    background: rgba(227, 172, 0, 0.9); }

/* line 142, ../scss/_main.scss */
.login {
  color: #fff;
  padding-left: 150px; }

/* line 147, ../scss/_main.scss */
.section {
  margin: 25px auto;
  background: #fff;
  position: relative;
  background: #21232E; }
  /* line 152, ../scss/_main.scss */
  .section .section_text {
    margin: 35px auto 35px auto;
    width: 418px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Fresca", sans-serif;
    z-index: 1; }
    /* line 161, ../scss/_main.scss */
    .section .section_text::after {
      position: absolute;
      bottom: 7px;
      right: 13px;
      z-index: -1;
      width: 180px;
      height: 45px;
      content: '';
      background: #FF4E33; }

/* line 174, ../scss/_main.scss */
.section_card_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 178, ../scss/_main.scss */
  .section_card_wrap .section_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 950px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 110px;
    background-color: #3B3F50;
    border-radius: 4px;
    color: #fff; }
    /* line 190, ../scss/_main.scss */
    .section_card_wrap .section_card img {
      border-radius: 4px;
      width: 100%;
      padding-right: 150px; }
    /* line 196, ../scss/_main.scss */
    .section_card_wrap .section_card .section_card_heading {
      position: relative;
      width: auto;
      max-width: 180px;
      height: 30px;
      margin: 15px auto;
      font-size: 22px;
      font-weight: bold;
      text-align: left; }
    /* line 206, ../scss/_main.scss */
    .section_card_wrap .section_card .section_card_text {
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      color: #B5C1CE;
      margin-bottom: 30px; }
    /* line 213, ../scss/_main.scss */
    .section_card_wrap .section_card .section_link {
      color: #B5C1CE;
      padding: 180px; }

/* line 221, ../scss/_main.scss */
.section_banner {
  position: absolute;
  margin: 0 auto;
  padding: 30px 60px;
  width: 760px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, color-stop(37%, #e2aa01), color-stop(80%, #a0306c), color-stop(100%, #932c53), to(#932c53));
  background: linear-gradient(to right, #e2aa01 37%, #a0306c 80%, #932c53 100%, #932c53 100%);
  overflow: hidden;
  bottom: -250px;
  margin-left: auto;
  left: 0;
  right: 0;
  border-radius: 6px; }
  /* line 234, ../scss/_main.scss */
  .section_banner .section_banner_heading {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Hind', sans-serif; }
  /* line 241, ../scss/_main.scss */
  .section_banner .section_banner_text {
    color: #B5C1CE; }
  /* line 245, ../scss/_main.scss */
  .section_banner .section_banner_button {
    position: absolute;
    right: 25px;
    bottom: 0; }

/* line 254, ../scss/_main.scss */
.footer {
  margin: 0 auto;
  padding-top: 100px;
  width: 100%;
  height: 250px;
  background: #3B3F50;
  color: #fff; }
  /* line 261, ../scss/_main.scss */
  .footer .footer-wrap {
    margin: 0 auto;
    max-width: 1200px; }
    /* line 264, ../scss/_main.scss */
    .footer .footer-wrap .footer_logo, .footer .footer-wrap .footer_text, .footer .footer-wrap .footer-cr {
      margin: 0 70px;
      float: left; }
    /* line 269, ../scss/_main.scss */
    .footer .footer-wrap .footer_logo {
      width: 150px; }
      /* line 271, ../scss/_main.scss */
      .footer .footer-wrap .footer_logo img {
        float: left; }
      /* line 274, ../scss/_main.scss */
      .footer .footer-wrap .footer_logo p {
        margin-left: 15px;
        float: left;
        text-align: center;
        font-size: 26px; }
      /* line 280, ../scss/_main.scss */
      .footer .footer-wrap .footer_logo span {
        margin-left: 15px;
        line-height: 25px;
        text-align: center;
        font-size: 16px; }
    /* line 288, ../scss/_main.scss */
    .footer .footer-wrap .footer_text {
      max-width: 380px;
      line-height: 24px;
      font-weight: normal; }
