$bg: #21232E;
$section-bg: #fff;
$text-color: #fff;
$header-image: url('../img/m-h-night.jpg');
$basic-font: 'Fresca', sans-serif;
$btn-color: #E3AC00;
$bg-under-text: #FF4E33;
$card-bg: #3B3F50;
$banner-gradient: linear-gradient(to right, #e2aa01 37%,#a0306c 80%,#932c53 100%,#932c53 100%);
$title-color: #fff;