$header-image: url('../img/m-h-day.jpg');
$bg: #fff;
$section-bg: #fff;
$text-color: rgb(44, 47, 60);
$basic-font: 'Hind', sans-serif;
$btn-color: #72a701;
$bg-under-text: rgb(31, 178, 219);
$card-bg: rgb(34, 35, 44);
$banner-gradient: linear-gradient(to right, #72a701 30%,#2583cf 61%,#2583cf 61%,#2583cf 74%,#2583cf 98%,#2858db 100%);
$title-color: #2C2F3C;
  
